html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: #32293b;
    font: 80% verdana, sans-serif;
    
}

header {
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

header h1 {
    margin: 0;
    font-size: 24px;
}

#game-container {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 600px;
    margin-top: 20px;
}